/* You can add global styles to this file, and also import other style files */
/* body{
  margin: 0px;
  padding: 30px;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  background: #313131;
} */
